﻿@model saumfsertifika.Models.Egitimler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Egitimler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Egitim_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egitim_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egitim_Tanitimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egitim_Tanitimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egitim_Amaci)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egitim_Amaci)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egitim_Faydasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egitim_Faydasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sertifika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sertifika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zaman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zaman)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ucret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ucret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kontenjan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontenjan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tatbikat_Bilg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tatbikat_Bilg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seminer_Bilg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seminer_Bilg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kayit_Bilg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kayit_Bilg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egitim_Fotograflari)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egitim_Fotograflari)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
