﻿@model IEnumerable<saumfsertifika.Models.Egitimler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Eğitimler</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Egitim_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Egitim_Tanitimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Egitim_Amaci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Egitim_Faydasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sertifika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zaman)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ucret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kontenjan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tatbikat_Bilg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seminer_Bilg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kayit_Bilg)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Egitim_Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Egitim_Tanitimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Egitim_Amaci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Egitim_Faydasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sertifika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zaman)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ucret)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kontenjan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tatbikat_Bilg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seminer_Bilg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kayit_Bilg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Egitim_Fotograflari)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
