﻿@model saumfsertifika.Models.Etkinlikler

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Etkinlikler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etkinlik_Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etkinlik_Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etkinlik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etkinlik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etkinlik_Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etkinlik_Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
