﻿@model IEnumerable<saumfsertifika.Models.Etkinlikler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Etkinlikler</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Etkinlik_Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etkinlik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etkinlik_Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Etkinlik_Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etkinlik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etkinlik_Tarih, "{0:d}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih, "{0:d}")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
