﻿@model saumfsertifika.Models.Egitmenler

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Egitmenler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Egitmen_Resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egitmen_Resim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egitmen_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egitmen_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egitmen_Unvan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egitmen_Unvan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egitmen_Detay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egitmen_Detay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
