﻿<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SAÜ Mühendislik Fakültesi Sertifika Programı</title>
   

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800' rel='stylesheet' type='text/css'>
    

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.sakarya.edu.tr/assets/sauanasayfa/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.sakarya.edu.tr/assets/sauanasayfa/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.sakarya.edu.tr/assets/sauanasayfa/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="http://www.sakarya.edu.tr/assets/sauanasayfa/images/ico/favicon.ico">
    <link rel="shortcut icon" href="http://www.sakarya.edu.tr/assets/sauanasayfa/images/ico/favicon.ico">


    <!-- JavaScripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Scripts/plugins.js"></script>
    <script src="/Scripts/custom.js"></script>

    @RenderSection("scripts", required: false)

    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
    <![endif]-->

</head>
<body>

    <!-- This one in here is responsive menu for tablet and mobiles -->
    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">
            <i class="fa fa-bars"></i>
        </a>
        <div class="responsive_menu">
            <ul class="main_menu">
                <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                <li>
                    <a href="#">Hakkımızda</a>
                    
                </li>
                <li>
                    <a href="#">Eğitimler</a>
                    <ul>
                        <li><a href="#">Yangın Eğitici Eğitimi</a></li>
                        <li><a href="#">Yangın Tahliye, Arama/Kurtarma Eğitimi</a></li>
                        <li><a href="#">Afet Yönetimi Eğitimi</a></li>
                        <li><a href="#">PLC Eğitimi</a></li>
                        <li><a href="#">Temel Ses ve Gürültü Eğitimi</a></li>
                       
                    </ul>
                </li>
                <li>
                    <a href="#">Galeri</a>   
                </li>
               
                <li>
                    <a href="#">İletişim</a>

                </li>
               
            </ul> <!-- /.main_menu -->
            <ul class="social_icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul> <!-- /.social_icons -->
        </div> <!-- /.responsive_menu -->
    </div> <!-- /responsive_navigation -->


    <header class="site-header">
        <div class="container">


            <div class="row">
                <div class="col-md-4 header-left">
                    <p><i class="fa fa-phone"></i> 0264 2956937</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:mfsertifika@sakarya.edu.tr">mfsertifika@sakarya.edu.tr</a></p>
               <h2 style="color:#c6baad;">RABİA AYŞE GÜZEL B161210702</h2>
                 </div> <!-- /.header-left -->

                <div class="col-md-4">
                    <div class="logo">
                        <a href="/Home/Index" title="SAÜ Mühendislik Fakültesi" rel="home">
                            <p><img src="~/Content/images/img_saulogo.png" /></p>
                            <h3 style="color:#c6baad;"> SAKARYA ÜNİVERSİTESİ </h3>
                            <h4 style="color:#c6baad; margin-top:0px;">Mühendislik Fakültesi</h4>
                            <h4 style="color:#c6baad;  margin-top:0px;">Sertifika Programları</h4>
                        </a>

                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-4 -->

                <div class="col-md-4 header-right">

                    <ul class="small-links">
                        <li><a href="#">Üye Ol</a></li>
                        <li><a href="#">Üye Girişi</a></li>
                        <li><a href="#">TR</a></li>
                        <li><a href="#">EN</a></li>
                    </ul>
                    <div class="search-form">
                        <form name="search_form" method="get" action="#" class="search_form">
                            <input type="text" name="s" placeholder="Sitede Arama..." title="Sitede Arama..." class="field_search">
                        </form>
                    </div>
                </div> <!-- /.header-right -->
            </div>
        </div> <!-- /.container -->

        <div class="nav-bar-main" role="navigation">
            <div class="container">
                <nav class="main-navigation clearfix visible-md visible-lg" role="navigation">
                    <ul class="main-menu sf-menu">
                        <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                        <li>
                            <a href="#">Hakkımızda</a>
                          
                        </li>
                        <li>
                            <a href="#">Eğitimler</a>
                            <ul class="sub-menu">
                             
                                <li><a href="#">Yangın Eğitici Eğitimi</a></li>
                                <li><a href="#">Yangın Tahliye, Arama/Kurtarma Eğitimi</a></li>
                                <li><a href="#">Afet Yönetimi Eğitimi</a></li>
                                <li><a href="#">PLC Eğitimi</a></li>
                                <li><a href="#">Temel Ses ve Gürültü Eğitimi</a></li>

                            </ul>
                        </li>
                       
                        <li>
                            <a href="#">Galeri</a>
                            
                        </li>

                        <li>
    <a href="#">İletişim</a>

</li>
                    </ul> <!-- /.main-menu -->

                    <ul class="footer-media-icons pull-right padright5">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="https://twitter.com/mfsertifika" class="fa fa-twitter"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCFFBTD09choVjfDUMQwHglw" class="fa fa-youtube"></a></li>

                        <li><a href="https://plus.google.com/116888767139917463935" class="fa fa-google-plus"></a></li>

                    </ul>
                </nav> <!-- /.main-navigation -->
            </div> <!-- /.container -->
        </div> <!-- /.nav-bar-main -->

    </header> <!-- /.site-header -->

    <div class="container">
    @RenderBody()
        </div>
   
    <!-- begin The Footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="bottom-footer">
                <div class="row">
                    <div class="col-md-3">
                        <p class="small-text">&copy; Copyright @DateTime.Now.Year.  Rabia Ayşe Güzel </p>
                    </div> <!-- /.col-md-3 -->
                    <div class="col-md-4">
                        <ul class="footer-nav">
                            <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">İletişim</a></li>

                        </ul>
                    </div> <!-- /.col-md-4 -->

                    <div class="col-md-5 ">
                        <div class="footer-widget">
                            <ul class="footer-media-icons pull-right">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="https://twitter.com/mfsertifika" class="fa fa-twitter"></a></li>
                                <li><a href="https://www.youtube.com/channel/UCFFBTD09choVjfDUMQwHglw" class="fa fa-youtube"></a></li>

                                <li><a href="https://plus.google.com/116888767139917463935" class="fa fa-google-plus"></a></li>
                               
                            </ul>
                        </div>

                    </div>




                </div> <!-- /.row -->
            </div> <!-- /.bottom-footer -->

        </div> <!-- /.container -->
    </footer> <!-- /.site-footer -->

</body>
</html>
