﻿@model IEnumerable<saumfsertifika.Models.Egitim_Kayitli>

@{
    ViewBag.Title = "Index";
}

<h2>Eğitime Kayıtlı Kişiler</h2>

<p>
    @Html.ActionLink("Yeni Kayıt Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Egitimler.Egitim_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kayitli.Ad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Egitimler.Egitim_Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kayitli.Ad)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.ID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
