﻿@{
    ViewBag.Title = "Hakkımızda";
}

<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                <h6><a href="Home/Index">Anasayfa</a></h6>
                <h6><span class="page-active">Hakkımızda</span></h6>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="row">

     <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-body">

                   <p> <b>  Neden Sakarya Üniversitesi ? </b> </p> <br/>

                  
                    <p>  &nbsp; Öğretim kadrosunun önemli bir bölümünü, deneyimli, yurt dışındaki üniversitelerde öğrenim görmüş, uluslararası yayın sahibi akademisyenler oluşturmaktadır. Türkiye’nin Üniversitelerde ‘Kalite Geliştirme ve Değerlendirme’ çalışmalarını ilk başlatan üniversitesidir. Türkiye’nin idari hizmetlerde TS EN ISO 9001:2001 ‘Kalite Yönetim Belgesi’ almış ilk üniversitesidir. EFQM ‘Mükemmellik Modeli’ ne göre ‘Ulusal Kalite Büyük Ödülü’ alan ilk yükseköğretim kurumudur.
  </p><br />  
                   <p> <b> Kurumsal Eğitimlerimiz  </b></p><br/> 

                   
                    <p> &nbsp;  Kurumumuz, Sakarya Üniversitesi’nde örgün önlisans, lisans ve lisansüstü öğretim programları dışında verilecek eğitim programlarını düzenlemekte ve bu şekilde üniversitemizin, kamu özel sektör ve uluslararası kuruluşlar ile olan işbirliğinin gelişmesine katkıda bulunmaktadır. Bunun yanı sıra, eğitim verirken, teorik eğitimi, uygulama eğitimi ile birleştirerek katılımcıların gerekli olan bilgi ve becerileri kazanması amacını da taşır. Bu amaçlar kapsamında, tüm çalışmalarında Sakarya Üniversitesinin kalite ve standartlarını korur.

 </p><br /> 
                    <p> <b> Bireysel Eğitimlerimiz  </b></p><br />


                    <p> &nbsp; Sakarya Üniversitesi, Mesleki Yeterlilik Kurumu (MYK) tarafından kabul edilen Ulusal Yeterliliklere göre sınav ve belgelendirme faaliyetlerini yürüten Yetkilendirilmiş Belgelendirme Kuruluşudur. Yetkilendirilmiş Belgelendirme Kuruluşları; Ulusal Yeterlilik Çerçevesinde tanımlı Ulusal Yeterliliklere göre sınav ve belgelendirme faaliyetlerini yürüten, TÜRKAK tarafından ya da Avrupa Akreditasyon Birliği bünyesinde çok taraflı tanıma anlaşması imzalamış başka akreditasyon kurumlarınca ilgili yeterliliklerde TS EN ISO/IEC 17024 standardına göre akredite edilmiş, MYK tarafından yapılan inceleme, denetim ve değerlendirme sonucunda gerekli şartları sağladığı tespit edilen personel belgelendirme kuruluşlarıdır.

 </p><br />  
                </div>
            </div>

        </div>

       
        


    </div>
   


</div>

