﻿@{
    ViewBag.Title = "İletişim";
}


   <!-- Being Page Title -->
<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                <h6><a href="Home/Index">Anasayfa</a></h6>
                <h6><span class="page-active">İletişim</span></h6>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-5">
           <div class="contact-map">
               <div class="google-map-canvas" id="map-canvas" style="height: 530px;">                    
                
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.886395241548!2d30.32919006506621!3d40.74252522932862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccaded481693b1%3A0xb25b3a0c4abe3f8e!2zU2FrYXJ5YSDDnG5pdmVyc2l0ZXNpIE3DvGhlbmRpc2xpayBGYWvDvGx0ZXNpIERla2FubMSxxJ_EsQ!5e0!3m2!1str!2str!4v1478949200688" height="530"; width="445" frameborder="0" style="border:0" allowfullscreen></iframe>
         
           </div>    
        </div>        
    </div> <!-- /.col-md-5 -->

        <div class="col-md-7">
            <div class="contact-page-content">
                <div class="contact-heading">
                    <h3>İletişim</h3>
                </div>
                <p>  Sakarya Üniversitesi Mühendislik Fakültesi, Esentepe Kampüsü, 54187, Serdivan, Sakarya <br/>
                  Tel : 0536 665 83 00 <br />
                Mail : mfsertifika@sakarya.edu.tr </p>


                <div class="contact-form clearfix">
                    <p class="full-row">
                        <span class="contact-label">
                            <label for="name-id">Ad :</label>
                            <span class="small-text">Adınızı girin</span>

                        </span>
                        <input type="text" id="name-id" name="name-id">
                    </p>
                    <p class="full-row">
                        <span class="contact-label">
                            <label for="surname-id">Soyad :</label>
                            <span class="small-text">Soyadınızı girin</span>

                        </span>
                        <input type="text" id="surname-id" name="surname-id">
                    </p>
                    <p class="full-row">
                        <span class="contact-label">
                            <label for="email-id">E-mail :</label>
                            <span class="small-text">Mail adresinizi girin</span>

                        </span>
                        <input type="text" id="email-id" name="email-id">
                    </p>
                    <p class="full-row">
                        <span class="contact-label">
                            <label for="message">Mesaj :</label>
                            <span class="small-text">Mesajınızı girin</span>
                        </span>
                        <textarea name="message" id="message" rows="5"></textarea>
                    </p>
                    <p class="full-row">
                        <input class="mainBtn" type="submit" name="" value="Mesaj Gönder">

                    </p>
                    
                </div>
            </div>
        </div> <!-- /.col-md-7 -->

    </div> <!-- /.row -->
</div> <!-- /.container -->

