﻿@model IEnumerable<saumfsertifika.Models.Egitmenler>
@{
    ViewBag.Title = "Eğitmenlerimiz";
}

<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                <h6><a href="Home/Index">Anasayfa</a></h6>
                <h6><span class="page-active">Eğitmenlerimiz</span></h6>
            </div>
        </div>
    </div>
</div>
<br />


<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <p><h3>Eğitmenlerimiz</h3></p>
            <br />
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/orhantorkul.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>Orhan Torkul</b></h4>
                                <p>Prof. Dr.</p>
                                <p><a href="http://www.torkul.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/muratteker.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>Murat Teker</b></h4>
                                <p>Prof. Dr.</p>
                                <p><a href="http://www.teker.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/msahindundar.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>M. Şahin Dündar</b></h4>
                                <p>Prof. Dr.</p>
                                <p><a href="http://www.dundar.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/hakanssoyhan.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>Hakan S. Soyhan</b></h4>
                                <p>Prof. Dr.</p>
                                <p><a href="http://www.hsoyhan.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>

            </div>

            <div class="row">





                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/leventgulen.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>Levent Gülen</b></h4>
                                <p>Prof. Dr.</p>
                                <p><a href="http://www.lgulen.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/ermancoskun.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>Erman Coşkun</b></h4>
                                <p>Prof. Dr.</p>
                                <p><a href="http://www.ermanc.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/muratutkucu.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>Murat Utkucu</b></h4>
                                <p>Prof. Dr.</p>
                                <p><a href="http://www.mutkucu.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/yılmazuyaroglu.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>Yılmaz Uyaroğlu</b></h4>
                                <p>Doç. Dr.</p>
                                <p><a href="http://www.uyaroglu.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>









            </div>

            <div class="row">


                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/huseyinaltundag.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>Hüseyin Altundağ</b></h4>
                                <p>Doç. Dr.</p>
                                <p><a href="http://www.altundag.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/emrahdogan.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>Emrah Doğan</b></h4>
                                <p>Doç. Dr.</p>
                                <p><a href="http://www.emrahd.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/ismailhdemir.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>İsmail Hakkı Demir</b></h4>
                                <p>Yrd. Doç. Dr.</p>
                                <p><a href="http://www.idemir.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/images/osmansonmez.jpg" alt="...">
                        <center>
                            <div class="caption">
                                <h4><b>Osman Sönmez</b></h4>
                                <p>Yrd. Doç. Dr.</p>
                                <p><a href="http://www.osonmez.sakarya.edu.tr/tr" class="btn btn-default" role="button">Hocamız Hakkında</a></p>
                            </div>
                        </center>
                    </div>
                </div>

            </div>




        </div>
    </div>
</div>
