﻿@model saumfsertifika.Models.Egitim_Kayitli

@{
    ViewBag.Title = "Delete";
}

<h2>Sil</h2>

<h3>Silmek İstediğinizden Emin Misiniz?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Egitimler.Egitim_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egitimler.Egitim_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kayitli.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kayitli.Ad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
