﻿@model saumfsertifika.Models.Egitim_Kayitli

@{
    ViewBag.Title = "Details";
}

<h2>Detaylar</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Egitimler.Egitim_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egitimler.Egitim_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kayitli.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kayitli.Ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Listeye Geri Git", "Index")
</p>
