﻿@model IEnumerable<saumfsertifika.Models.Egitmenler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Egitmen_Resim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Egitmen_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Egitmen_Unvan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Egitmen_Detay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Egitmen_Resim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Egitmen_Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Egitmen_Unvan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Egitmen_Detay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
