﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<!-- container -->
@section jsplugins
{
    <script type='text/javascript' src='~/assets/plugins/codeprettifier/prettify.js'></script>
    <script type='text/javascript' src='~/assets/plugins/easypiechart/jquery.easypiechart.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/sparklines/jquery.sparklines.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-toggle/toggle.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/fullcalendar/fullcalendar.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-daterangepicker/daterangepicker.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-daterangepicker/moment.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.resize.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.orderBars.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/pulsate/jQuery.pulsate.min.js'></script>
}