﻿@model IEnumerable<saumfsertifika.Models.Duyurular>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Duyurular</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Duyuru_Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duyuru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duyuru_Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Duyuru_Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duyuru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duyuru_Tarih,"{0:d}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih , "{0:d}")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
