﻿@{
    ViewBag.Title = "Anasayfa";
}


<div class="container">
    
    <div class="row">
        
            
               <div class="col-md-8 padTop20 " >
                <!-- SLİDER -->
                <div id="carousel-example-generic " class="carousel slide" data-ride="carousel" >
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>


                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner slider1" role="listbox">
                        <div class="item active">
                            <img class="fill" src="~/Content/images/resim1.jpg" alt="SAÜ 1">
                            <div class="carousel-caption">
                                Yangın Eğitici Eğitimi
                            </div>
                        </div>
                        <div class="item">
                            <img class="fill" src="~/Content/images/resim2.jpg" alt="SAÜ 2">
                            <div class="carousel-caption">
                                Yangın Tahliye, Arama/Kurtarma Eğitici Eğitimi
                            </div>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div> 







        <div class="col-md-4">
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">Eğitimlerimizin Avantajları</h4>
                </div>
                <div class="widget-inner">
                    <div class="prof-list-item clearfix">
                        <div class="prof-thumb">
                            <img src="~/Content/images/saü.png" alt="Profesor Name">
                        </div> <!-- /.prof-thumb -->
                        <div class="prof-details">
                            <h5 class="prof-name-list">Sakarya Üniversitesi Onaylı</h5>
                            <p class="small-text">Sakarya Üniversitesi tarafından resmi olarak hazırlanan sertifika programları</p>
                        </div> <!-- /.prof-details -->
                    </div> <!-- /.prof-list-item -->

                    <div class="prof-list-item clearfix">
                        <div class="prof-thumb">
                            <img src="~/Content/images/egitmen.png" alt="Profesor Name">
                        </div> <!-- /.prof-thumb -->
                        <div class="prof-details">
                            <h5 class="prof-name-list">Tecrübeli uzman eğitmenler</h5>
                            <p class="small-text">Üniversitemizin tecrübeli öğretim üyelerinden ve tanınmış danışmanlardan oluşan eğitim kadrosu</p>
                        </div> <!-- /.prof-details -->
                    </div> <!-- /.prof-list-item -->
                    <div class="prof-list-item clearfix">
                        <div class="prof-thumb">
                            <img src="~/Content/images/sertifika.png" alt="Profesor Name">
                        </div> <!-- /.prof-thumb -->
                        <div class="prof-details">
                            <h5 class="prof-name-list">Uluslararası tanınan sertifika</h5>
                            <p class="small-text">Yurtdışı ile aynı kalite ve standarttaki eğitim ve katılımcılara AB kapsamında tanınan sertifika</p>
                        </div> <!-- /.prof-details -->
                    </div> <!-- /.prof-list-item -->



                </div> <!-- /.widget-inner -->
            </div> <!-- /.widget-main -->

        </div> <!-- /.col-md-4 -->
    </div>


</div>



<div class="container">
    <div class="row">

        <!-- Here begin Main Content -->
        <div class="col-md-4">
            <!-- Show Latest Events List -->
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">Etkinlikler</h4>
                </div> <!-- /.widget-main-title -->
                <div class="widget-inner">
                    <div class="event-small-list clearfix">
                        <div class="calendar-small">
                            <span class="s-month">Kas</span>
                            <span class="s-date">24</span>
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="#">Türkiye Acil Yardım, Yangın, Kurtarma ve Eğitim Vakfı..</a></h5>
                            <p class="event-small-meta small-text">SAÜ Mühendislik Fakültesi Dekanı Prof Torkul ve Yangın&…</p>
                        </div>
                    </div>
                    <div class="event-small-list clearfix">
                        <div class="calendar-small">
                            <span class="s-month">Kas</span>
                            <span class="s-date">23</span>
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="#">Mühendislik Fakültesi 1.Danışma Kurulu</a></h5>
                            <p class="event-small-meta small-text">Türkmenistan İstanbul Başkonsolosu  Myratgeldi Seyitmammedov…</p>
                        </div>
                    </div>
                    <div class="event-small-list clearfix">
                        <div class="calendar-small">
                            <span class="s-month">Kas</span>
                            <span class="s-date">16</span>
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="#">Mühendislik Fakültesi 1.Danışma Kurulu</a></h5>
                            <p class="event-small-meta small-text">Türkmenistan İstanbul Başkonsolosu  Myratgeldi Seyitmammedov…</p>
                        </div>
                    </div>
                </div> <!-- /.widget-inner -->
            </div> <!-- /.widget-main -->
        </div> <!-- /.col-md-4 -->


        <div class="col-md-4">

            <!-- Show Latest Duyurular List -->
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">Duyurular </h4>
                </div> <!-- /.widget-main-title -->
                <div class="widget-inner">
                    <div class="event-small-list clearfix">
                        <div class="calendar-small">
                            <span class="s-month">May</span>
                            <span class="s-date">09</span>
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="#">Yangın Tahliye, Arama Kurtarma Eğitici Eğitimi</a></h5>
                            <p class="event-small-meta small-text">Yangın Tahliye,Arama Kurtarma Eğitici Eğitimi sertifika programı önkayıtlarımız..</p>
                        </div>
                    </div>
                    <div class="event-small-list clearfix">
                        <div class="calendar-small">
                            <span class="s-month">Nis</span>
                            <span class="s-date">24</span>
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="#">Temel Ses ve Gürültü Eğitimi</a></h5>
                            <p class="event-small-meta small-text"> Temel ses ve gürültü eğitimlerimiz İçin önkayıtlarımız..</p>
                        </div>
                    </div>
                    <div class="event-small-list clearfix">
                        <div class="calendar-small">
                            <span class="s-month">Şub</span>
                            <span class="s-date">12</span>
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="#">Yangın Eğitici Eğitimi</a></h5>
                            <p class="event-small-meta small-text">11. dönem 1. seviye Yangın Eğitici Eğitimi sertifika programı ön kayıtlarımız devam..</p>
                        </div>
                    </div>
                </div> <!-- /.widget-inner -->
            </div> <!-- /.widget-main -->

        </div> <!-- /.col-md-4 -->


        <div class="col-md-4">
            <!-- Show Latest Events List -->
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">Yangın Haberleri</h4>
                </div> <!-- /.widget-main-title -->
                <div class="widget-inner">
                    <div class="event-small-list clearfix">
                        <div class="prof-thumb">
                            <img src="~/Content/images/haber1.jpg" alt="Profesor Name">
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="#">Safranbolu'da tarihi konak yandı</a></h5>
                            <p class="event-small-meta small-text">Safranbolu’da 150 Yıllık 3 katlı tarihi konak alevlere teslim oldu.</p>
                        </div>
                    </div>
                    <div class="event-small-list clearfix">
                        <div class="prof-thumb">
                            <img src="~/Content/images/haber2.jpg" alt="Profesor Name">
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="#">Uşak'ta iplik fabrikasında yangın</a></h5>
                            <p class="event-small-meta small-text">Uşak'ta Deri Karma Organize Sanayi Bölgesi'nde bir iplik fabrikasında çıkan yangında büyük çapta maddi hasar oluştu.</p>
                        </div>
                    </div>
                    <div class="event-small-list clearfix">
                        <div class="prof-thumb">
                            <img src="~/Content/images/haber3.jpg" alt="Profesor Name">
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="#">Tekirdağ'da orman yangını</a></h5>
                            <p class="event-small-meta small-text">Tekirdağ'da henüz belirlenemeyen nedenle çıkan orman yangınında 100 dönüm çam ağaçlarının bulunduğu alan yandı.</p>
                        </div>
                    </div>


                    @*<div class="prof-list-item clearfix">
                        <div class="prof-thumb">
                            <img src="~/Content/images/sertifika.png" alt="Profesor Name">
                        </div> <!-- /.prof-thumb -->
                        <div class="prof-details">
                            <h5 class="prof-name-list">Uluslararası tanınan sertifika</h5>
                            <p class="small-text">Yurtdışı ile aynı kalite ve standarttaki eğitim ve katılımcılara AB kapsamında tanınan sertifika</p>
                        </div> <!-- /.prof-details -->
                    </div> <!-- /.prof-list-item --> *@




                </div> <!-- /.widget-inner -->
            </div> <!-- /.widget-main -->

        </div>





    </div>
</div>
