﻿
@{
    ViewBag.Title = "Ses ve Gürültü";
}


<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                <h6><a href="Home/Index">Anasayfa</a></h6>
                <h6><span class="page-active">Ses ve Gürültü</span></h6>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">

        <div class="col-md-3">

            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="list-group">
                        <a href="#" type="button" class="list-group-item">
                            Programın Tanıtımı
                        </a>
                        <a href="#" type="button" class="list-group-item">Programın Amacı</a>
                        <a href="#" type="button" class="list-group-item">Sertifika</a>
                        <a href="#" type="button" class="list-group-item">Programın Faydası</a>
                        <a href="#" type="button" class="list-group-item">Yer</a>
                        <a href="#" type="button" class="list-group-item">Zaman</a>
                        <a href="#" type="button" class="list-group-item">Eğitim Programı</a>
                        <a href="#" type="button" class="list-group-item">Programın Ücreti</a>
                        <a href="#" type="button" class="list-group-item">Kayıt</a>
                        <a href="#" type="button" class="list-group-item">Kontenjan</a>
                        <a href="#" type="button" class="list-group-item">Eğitim Tarihi</a>
                        <a href="#" type="button" class="list-group-item">Tatbikat</a>
                        <a href="#" type="button" class="list-group-item">Seminer</a>
                        <a href="#" type="button" class="list-group-item">Eğitmenler</a>

                        <a href="#" type="button" class="list-group-item">Eğitim Fotoğrafları</a>
                        <a href="#" type="button" class="list-group-item">Eğitim Videoları</a>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-9">

            <div class="panel panel-default">


                <div class="panel-body">


                </div>
            </div>

        </div>
    </div>



</div>



